.container {
    flex-basis: 0;
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    padding: 8px 12px;
}

.container h2 {
    font-size: 2vw;
    font-weight: 400;
    letter-spacing: 14px;
    margin-bottom: 18px;
    margin-top: 0;
    text-align: center;
}

.container p {
    font-size: 18px;
    font-weight: 400;
    color: white;
    line-height: 1.5;
    text-align: left;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.container section h3 {
    font-weight: 700;
    font-size: 22px;
}

.container section ul {
    list-style: none;
}

.container section ul li p mark,
.container p mark {
    background-color: transparent;
    color: cyan;
}


section .responsibleGaming {
    text-align: end;
    color: cyan;
    font-weight: 400;
    letter-spacing: 2px;
}

/* Responsive */
@media (max-width: 990px) {
    .container h2 {
        font-size: 5vw;
    }
}