/* Menu */
.ToggleContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 12px 4px;
    margin: 0;
    box-sizing: border-box;
    background-color: var(--primary-bg-color);
}

.Toggle_btn {
    cursor: pointer;
}

.Toggle_btn img {
    width: 10vw;
}

.Toggle_Title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.sticky {
    position: fixed;
    z-index: 1000;
    top: 0;
    max-width: 1000px;
    width: 100%;
    box-shadow: 0px 4px 3px rgba(0, 0, 0, .5);
    z-index: 1;
}

.Toggle_Title a {
    font-size: 4vw;
    font-weight: 400;
    margin: 0;
    letter-spacing: 1px;
    text-decoration: none;
    color: cyan;
}

.navigation {
    z-index: 2;
    background: var(--primary-bg-color);
   /* background-color: #171638;*/
    position: absolute;
    left: -130%;
    transition: all .5s;
    width: 100vw;
    padding: 1em 0;
}

.navigation ul {
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
}

.navigation ul li a{
    color: cyan;
    text-decoration: none;
}

.isOpen {
    left: 0;
}

.divider {
    height: 1px;
    width: 75%;
    background-color: rgba(0, 255, 255, 0.589);
    margin: 1em auto;
}
.menuLinksContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}

.menuBtnLink {
    background-color: var(--secondary-bg-color);
    border-radius: 6px;
    letter-spacing: 2px;
    height: 36px;
    border: 2px solid var(--secondary-bg-color);
    cursor: pointer;
    font-weight: 700;
    color: var(--secondary-font-color);
    text-align: center;
    width: 100%;
    max-width: 320px;
    transition: all .3s linear;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    font-size: 22px;
    font-weight: 400;
}

.menuBtnLink:hover {
    border: 2px solid #0ff;
    background-color: #01011b;
    color: var(--primary-font-color);
}





.mobileMenuContainer {
    height: calc(100vh - 75px);
    width: 100%;
    z-index: 2;
    background: var(--primary-bg-color);
    position: absolute;
    box-sizing: border-box;
    left: -130%;
    transition: all .5s;
    display: none;
}

.mobileMenuOpen {
    left: 0;
}

.mobileMenu {
    list-style: none;
    width: inherit;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    padding: 12px 8px;
    min-height: 440px;
    padding: 0;
    margin-top: 74px;
}

.mobileMenu li a,
.loginLink {
    text-decoration: none;
    color: var(--primery-font-color);
    font-size: 1.5em;
    transition: all .5s;
}

.mobileMenu li:hover a,
.loginLink:hover {
    color: white;
    transform: scale(1.2);
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    padding: 9px 0;
}

/* Responsive */
@media (max-width: 990px) {}


.nav {
    background-color: var(--primary-bg-color);
    height: 65px;
    width: 100vw;
}

.menuToggle {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 25px;
    left: 25px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
    width: 25%;
}

.menuToggle input {
    display: flex;
    width: 40px;
    height: 32px;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
}

.menuToggle span {
    display: flex;
    width: 29px;
    height: 2px;
    margin-bottom: 5px;
    position: relative;
    background: #ffffff;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 5px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        opacity 0.55s ease;
}

.menuToggle span:first-child {
    transform-origin: 0% 0%;
}

.menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

.menuToggle input:checked~span {
    opacity: 1;
    transform: rotate(45deg) translate(-3px, -1px);
    background: #36383F;
}

.menuToggle input:checked~span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

.menuToggle input:checked~span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
}

.menuToggle input:checked~.showed {
    transform: none;
}

.menu {
    position: absolute;
    width: 100%;
    height: auto;
    box-shadow: 0 0 10px #85888C;
    margin: -50px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    background-color: #F5F6FA;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

.menu li {
    padding: 10px 0;
    transition-delay: 2s;
}