
/* footer */


.stamps_container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 2em;
    flex-wrap: wrap;
}

.stamp {
    flex-grow: 1;
    flex-basis: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.stamp h3 {
    text-align: center;
}

.stampIcon_container {
    width: 90%;
    max-width: 150px;
    min-width: 150px;
    height: 10vh;
    max-height: 150px;
    position: relative;
    min-height: 150px;
    text-align: center;
}

@media (max-width: 600px) {
    .stamps_container {
        flex-direction: column;
    }
}
