.btn {
    background: transparent;
    padding: 8px 12px ;
    gap: 1em;
    color: cyan;
    border-radius: 6px;
    letter-spacing: 2px;
    height: 36px;
    border: 2px solid var(--secondary-bg-color);
    cursor: pointer;
    text-align: center;
    width: 100%;
    max-width: 320px;
    transition: all .3s linear;
    box-sizing: border-box;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
    font-size: 22px;
    font-weight: 400;
    transition: 300ms all linear;

    
}

.btn:hover {
    transform: scale(1.1);
}