.container {
    display: flex;
    width: 90%;
    margin: 0 auto;
}

.timeEventContentContainer {
    color: cyan;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.timeEventContentContainer h3 {
    font-size: 18px;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin: 6px;
}

.participantsContentContainer {
    display: flex;
}

.toWinBetsContentContainer {
    display: flex;
    flex-direction: row;
    gap: 8px;
    padding: 12px 8px;
}

.totalContentContainer,
.handicapContentContainer {
    display: flex;
    flex-direction: row;
    gap: 8px;
    padding: 12px 8px;
}


.actionBtnContainer {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 85%;
    height: 120px;
}

.totalContentContainer .actionBtnContainer,
.handicapContentContainer .actionBtnContainer {
    justify-content: space-between;
}

.moreMarketsBetsContentContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.moreMarketsBetsContentContainer h3 {
    display: flex;
    flex-direction: column;
}

.moreMarketsBetsContentContainer h3 span {
    margin: 0;
}

.moreBetActionsContainer {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrowsContainer {
    display: flex;
    flex-direction: column;
    gap: 12px;
    height: 40px;
    width: 100%;
    border-left: 1px solid cyan;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


.btn {
    text-transform: uppercase;
    transition: 300ms all linear;
    background-color: #01011b;
    border: 2px solid cyan;
    border-radius: 4px;
    color: cyan;
    padding: 6px 16px;
    cursor: pointer;
    transition: all 300ms linear;
    font-family: gotham-light;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}


.btn:hover {
    background-color: cyan;
    border: 2px solid #01011b;
    color: #01011b;
    filter: drop-shadow(0px 3px 10px cyan);
}

/* Table */

.tableContainer {
    width: 100%;
    overflow-x: auto;
    scrollbar-width: none;
}

.tableContentContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.tableContainer table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    font-size: 1em;
}

.tableContainer table thead {
    border-top: 2px solid cyan;
}

.tableContainer table thead tr th,
.tableContainer table tbody tr td {
    border-top: 2px solid cyan;
    border-right: 2px solid cyan;
    border-bottom: 2px solid cyan;
}

.tableContainer table thead tr th:last-child,
.tableContainer table tbody tr td:last-child {
    border-right: none
}

.headerTable,
.participantsContentContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 12px 8px;
}

.headerTable h3,
.participantsContentContainer h3 {
    margin: 12px;
    font-weight: 500;
    font-size: 18px;
}

.tableContainer table tbody {
    font-size: 1.2em;
    color: cyan;
    font-weight: 400;
}

/* moreBets Modal */
.moreBetsContainer {
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 90%;
    padding: 12px 8px;
} 
.divider {
    height: 1px;
    background-color: cyan;
}

/* moreMarkets Modal */

 .Navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin-bottom: 6px;
}

 .Navigation .links {
    width: 100%;
    border-bottom: 1px solid var(--secondary-bg-color);
    border-top: 1px solid var(--secondary-bg-color);
    list-style: none;
    display: flex;
    gap: 1.3em;
    justify-content: center;
    align-items: center;
    padding: 12px 0;
    margin: 0;
    height: 5vh;
    max-height: 75px;
}

.links li span {
    text-decoration: none;
    color: var(--primery-font-color);
    font-size: 16px;
    font-weight: 400;
    display: block;
    transition: all .5s;
    cursor: pointer;
}

.links li:hover span {
    color: white;
    transform: scale(1.2);
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    padding: 9px 0;
}

.ToggleContainer {
    display: none;
}

.Toggle_btn {
    cursor: pointer;
}

.Toggle_btn img {
    width: 10vw;
}

.Toggle_Title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.Toggle_Title a {
    font-weight: 400;
    margin: 0;
    letter-spacing: 1px;
    font-size: 1.4vw;
    text-decoration: none;
    color: cyan;
}

.moreMarketsContainer {
    width: 100%;
}
.moreMarketsContent {
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.marketContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0.5em;
    justify-content: center;
    align-items: center;
}
.marketOptionContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 12px;
}
.tripleOptionsOnMarket {
    width: 32%;
}
.doubleOptionsOnMarket {
    width: 45%;
}
/* Responsive */
@media (max-width: 990px) {

    .Navigation {
        display: none;
    }

    .mobileMenuContainer {
        display: flex;
        flex-direction: column;
        gap: 1em;
    }

    .ToggleContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 12px 4px;
        margin: 0;
        box-sizing: border-box;
    }

    .Toggle_Title a {
        font-size: 4vw;
    }
}
