.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 700px;
    min-width: 320px;
    gap: 1em;
}

.formGroup {
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 106.79px;
}

.loginInput {
    background-color: transparent;
    color: var(--primary-font-color);
    border: 1px solid var(--secondary-bg-color);
    border-radius: 6px;
    padding: 8px 12px;
    box-sizing: border-box;
    width: 100%;
    letter-spacing: 2px;
    height: 60px;
    font-weight: 400;
    font-size: 1vw;
    box-sizing: border-box;
}
select.loginInput {
    appearance: none;
}
select.loginInput option {
    background-color: #01011b;
    color: #0ff;
}
select.loginInput option[disabled] {
    color: white;
    background-color: #01011b;
}
.loginInput::placeholder {
    color: var(--primary-font-color);
}

.errorInput {
    border: 1px solid var(--error-color);
    color: var(--error-color);
    background: #ff000017;
}

.errorInput::placeholder {
    color: var(--error-color);
}

.errorLabel {
    color: var(--error-color);
}

.login_links {
    background-color: var(--secondary-bg-color);
    border-radius: 6px;
    letter-spacing: 2px;
    height: 60px;
    border: 2px solid var(--secondary-bg-color);
    cursor: pointer;
    font-weight: 700;
    color: var(--secondary-font-color);
    text-align: center;
    width: 100%;
    max-width: 400px;
    transition: all .3s linear;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 1vw;
    margin: 0 auto;
}

.login_links:hover {
    border: 2px solid #0ff;
    background-color: #01011b;
    color: var(--primary-font-color);
}

@media (max-width: 990px) {

    .login_links,
    .loginInput {
        font-size: 1em;
        margin: 3px;
    }
}

@media screen and (min-width: 1900px) {

    .login_links,
    .loginInput {
        font-size: 18px;
    }
}