:root {
    --primary-bg-color: #01011b;
    --primery-font-color: #00ffff;
    --secondary-bg-color: #00ffff;
    --secondary-font-color: #01011b;
    --error-color: red;
}

body {
    background-color: var(--primary-bg-color);
    color: var(--primery-font-color);
    height: 100vh;
}

header {
    width: 100%;
}

/* Header Menu */
.HeaderContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 20vh;
    max-height: 200px;
    justify-content: space-between;
}

.HeaderContainer .Header_Title_Container,
.HeaderContainer .Header_Login_Container {
    flex-grow: 1;
    width: 20%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding-bottom: 1em;

}

.HeaderContainer .Header_Logo {
    flex-grow: 2;
    display: flex;
    justify-content: center;
}

.Header_Title_Container {
    justify-content: flex-end;
}

.Header_Login_Container {
    justify-content: start;
}

.Header_Title {
    width: 100%;
    max-width: 420px;
}

.Header_Title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.Header_Title a {
    font-weight: 400;
    margin: 0;
    letter-spacing: 1px;
    font-size: 1.4vw;
    text-decoration: none;
    color: #00ffff;
}

.Header_Logo img {
    height: 20vh;
    max-height: 200px;
    max-width: 500px;
    width: 100%;
}

/* footer */
.Layout_footer {
    width: 75%;
    max-width: 1640px;
    min-width: 320px;
    margin: 10px auto;
    margin-top: 4em;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding-bottom: 4em;
}

.stamps_container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-bottom: 2em;
    flex-wrap: wrap;
}

.stamp {
    flex-grow: 1;
    flex-basis: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.stamp h3 {
    text-align: center;
}

.stampIcon_container {
    width: 90%;
    max-width: 150px;
    min-width: 150px;
    height: 10vh;
    max-height: 150px;
    position: relative;
    min-height: 150px;
    text-align: center;
}

.footer_navigation {
    width: 100%;
}

.footer_navigation ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 1em;
    list-style: none;
}

.footer_navigation ul li a {
    text-decoration: none;
    color: #00ffff;
    transition: all .5s;
    font-size: 18px;
    font-weight: 200;
}

.footer_navigation ul li:hover a {
    color: white;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
}

.footer_details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
}

.footer_details .footer_principalDetail p {
    margin: 5px;
    font-size: 18px;
}

.footer_details p {
    font-size: 18px;
    margin-bottom: 0;
}

.errorMsg {
    color: white;
}
/* Responsive */
@media (max-width: 990px) {
    header .HeaderContainer {
        display: none;
    }
    .mainContent {
        margin-top: 75px;
    }
}

@media screen and (min-width: 1900px) {
    .Header_Title a {
        font-size: 36px;
    }
}

@media (max-width: 600px) {
    .stamps_container {
        flex-direction: column;
    }

    .footer_navigation ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1em;
        list-style: none;
        align-items: center;
        width: 100%;
        padding: 0;
        margin: 2em auto;
    }

    .footer_navigation ul li a {
        font-size: 28px;
    }
}



